{% load static %}
<!DOCTPYE.html>
	<!DOCTYPE html>
	<html>
	<head>
		<title>Registration  form</title>
		<style>
			
		</style>
	</head> 
	<body>
		<div>
			<table border="1">
				<th colspan="2">Registration Form</th>
				<tr>
					<td>Student name</td>
					<td>
						<form>
							<input type="text">
						</form>
					</td>
				</tr>
				<tr>
					<td>Father's Name</td>
					<td>
						<form>
							<input type="text">
						</form>
					</td>
				</tr>
				<tr>
				
					<td>Mother's name</td>
					<td>
						<form>
							<input type="text">
						</form>
					</td>
				</tr>
				<tr>
					<td>Date of Birth</td>
					<td>
						<form>
							<input type="Date"<tr>
					    </form>
					</td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>
						<form>
							<input type="radio" name="x">male</input>
							<input type="radio" name="x">female</input>
						</form>
					</td>
				</tr>
				<tr>
					<td>Email Id</td>
					<td>
						<form>
							<input type="text">
						</form>
					</td>
				</tr>
				<tr>
					<td>Mobile No</td>
					<td>
						<form>
							<input type="text">
						</form>
					</td>
				</tr>
				<tr>
					<td>Address</td>
					<td>
						<form>
							<input type="text">
						</form>
					</td>
				</tr>
				<tr>
					<td>State</td>
					<td><form>
							<input type="text">
						</form></td>
				</tr>
				<tr>
					<td>City</td>
					<td><form>
							<input type="text">
						</form></td>
				</tr>
					<td></td>
					<td>
						<form>
							<input type="submit">
						</form>
					</td>
				</tr>
			</table>
			<tr style="text-align: center;">www.itcomputersguruji.com</tr>
		</div>
	
	</body>
	</html>