{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Grid System</title>
	<link rel="stylesheet" type="text/css" href="MDB/CSS/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="MDB/CSS/mdb.css">
	<link rel="stylesheet" type="text/css" href="MDB/js/bootstrap.css">
	<style>
		.card-header
		{
			border: 1px solid black;
			padding: 3px;
			
		}
	</style>
	<link rel="stylesheet" href="MDB.zip">
</head>
<body >
	<div class="container-fluid mt-5 bg-light">
		<div class="row mb-4">
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    			

		</div>
		<div class="row mb-4">
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    			

		</div>
		<div class="row mb-4">
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    			

		</div>
		<div class="row mb-4">
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    			

		</div>
		<div class="row mb-4">
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    			

		</div>
		<div class="row mb-4">
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    			

		</div>
		<div class="row mb-4">
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>		
		    <div class="col-xl-3.col-lg-4.col-md-6.col-sm-12">
		    	<div class="card-header">
		    		<div class="card-header ht-20px width-30px">
		    			<img src="{% static 'images/madhan pic.JPG' %}">
		    			
		    		</div>
		    		<div class="cord-body bg-dark text-white">
		    			<h4>branded shirt for men</h4>
		    			<h5 class="text-center">price:-2000.00</h5>
		    			<button class="btn-danger btn-center">show more</button>
		    			
		    		</div>
		    		
		    	</div>
		    	
		    </div>			
		    			

		</div>
	</div>	
</body>
</html>