{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Indian Cricket Team</title>
<body>
	<div id="link">
		<h1>
		    <a href="#home">Home</a>|
		    <a href="#K.L.Rahul">K.L.Rahul</a>|
		    <a href="#Rohit">Rohit Sharma</a>|
		    <a href="#Virat">Virat Kohili</a>|
		    <a href="#Bhumrah">Bhumrah</a>|
	    </h1>
	</div>
	<div id="home">
		<h2>INDIAN CRICKET TEAM</h2>
		<p>The India men's national cricket team, also known as Team India or the Men in Blue, represents India in men's international cricket. It is governed by the Board of Control for Cricket in India, and is a Full Member of the International Cricket Council with Test, One Day International and Twenty20 International status.
		</p>
		<table>
			<tr>
				<td><img src="{% static 'images/madhan pic.JPG' %}" height="700px" width="1200px"></td>
			</tr>
		</table>
	</div>
	<div id="K.L.Rahul">
		<h2>K.L.Rahul</h2>
		<p>
			A tall, elegant right-hand batsman who can keep wicket in a crisis, KL Rahul is among the most highly rated opening batsmen in India's next generation. Rahul was a part of India's squad in the 2010 Under-19 World Cup and made his first-class debut later that year. Having taken a while to establish himself as a first-class cricketer, he enjoyed a breakthrough 2013-14 season, laying the foundation for Karnataka's Ranji Trophy victory with 1033 runs, which included three centuries, three nineties, and a Man-of-the-Match performance in the final.

Rahul attracted plenty of attention at the subsequent IPL auction, and finally went to Sunrisers Hyderabad for Rs. 1 crore (US$ 166,000 approx.). He was a regular member of their side in the 2014 season, mostly as wicketkeeper-batsman, but his contributions with the bat were steady rather than spectacular.
		</p>
		<table>
			<tr>
				<td></td>
			</tr>
		</table>
	</div>
	<div id="Rohit">
		<h2>Rohit</h2>
		<p>
			Rohit Gurunath Sharma (born 30 April 1987), is an Indian international cricketer and the current captain of India men’s cricket team in all formats. Considered one of the best batsmen of his generation and one of greatest opening batters of all time,[3] Sharma is known for his timing, elegance, six-hitting abilities and leadership skills. He plays as a right-handed batsman for India national cricket team in international cricket, Mumbai Indians in IPL and for Mumbai in domestic cricket. Rohit also captains Mumbai Indians and the team has won 5 titles under his leadership. With India, Sharma was a member of the team that won the 2007 T20 World Cup, and the 2013 ICC Champions Trophy, where he played in the finals of both tournaments.
		</p>
		<table>
			<tr>
				<td></td>
			</tr>
		</table>
	</div>
	<div id="Virat">
		<h2>Virat</h2>
		<p>
			Virat Kohli (Hindi pronunciation: [ʋɪˈɾɑːʈ ˈkoːɦli] (listen); born 5 November 1988) is an Indian international cricketer and the former captain of the Indian national cricket team. Widely regarded as one of the greatest batsmen in the history of the sport,[4] he plays for Royal Challengers Bangalore in the IPL and Delhi in domestic cricket. Kohli holds numerous records in his career which includes scoring most runs in T20 internationals and IPL, fastest to reach 10,000 ODI runs. In 2020, the International Cricket Council named him the male cricketer of the decade. Kohli has also contributed to India's successes, including winning the 2011 World Cup and the 2013 Champions trophy. He is among the only four Indian cricketers who has played 500 matches for India.
		</p>
		<table>
			<tr>
				<td></td>
			</tr>
		</table>
	</div>
	<div id="Bhumrah">
		<h2>Bhumrah</h2>
		<p>
			Jasprit Bumrah grabbed eyeballs first with his unorthodox action, and then his bowling skills. Armed with an anomalous, sling-arm action and natural pace, the peculiar release point of Bumrah's deliveries makes it hard for batsmen to pick him.

Besides, like his Mumbai Indians team-mate, Lasith Malinga, Bumrah carved himself a reputation for possessing an uncanny ability to hit the blockhole. And, it was during his time in the IPL that he learned from the Sri Lankan to judiciously use the yorker.

A regular member of the India A team, Bumrah was on the fringes of national selection before a debilitating left knee injury at the end of 2014 kept him out for four-and-a-half months. He had to wait more than a year before earning another call-up, one which came on the back of a fruitful 2015-16 domestic season, where he was Gujarat's second-highest wicket-taker in the Ranji Trophy and topped the bowling charts in the Vijay Hazare Trophy - that included a five-for in the List-A final that gave Gujarat their maiden one-day title.
		</p>
		<table>
			<tr>
				<td></td>
			</tr>
		</table>
	</div>

 
</body>
</html>